:root {
  --primary: #0091ff;
  --dark: #061b28;
  --gray: #756388;
  --light: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
.main_div21 {
  position: relative;
  width: 144rem;
  height: 112.1rem;
  background: #f2f3f5;
}
.hero_sections {
  display: flex;
  flex-direction: row;
}
.hero_section_right_div {
  /* margin-left: 27rem; */
}
.top_div_1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 37.2rem;
}
.top_div_1_left {
  display: flex;
  flex-direction: column;
  margin-left: 9.8rem;
}
.top_div_1_left_top {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
  width: 23.9rem;
  height: 3.7rem;
}
.top_div_1_left_top_head {
  width: 14.6rem;
  height: 3.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #807373;
}
.top_div_1_left_top_head1 {
  width: 6.6rem;
  height: 3rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #00783f;
  margin-top: 0.5rem;
}
.arrowImg {
  width: 1.2rem;
  height: 1.8rem;
  margin-top: 1.2rem;
}
.top_div_1_left_bottom {
  margin-top: 1rem;
  width: 18.2rem;
  height: 1.9rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #464754;
}
#button_7,
#button_8 {
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 0.6rem;
}
.top_div_1_right {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
#button_9 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.3rem 2rem;
  gap: 1rem;
  width: 20.1rem;
  height: 5rem;
  background: #ffffff;
  border: 2px solid rgba(0, 120, 63, 0.5);
  border-radius: 6px;
}
.bell_div,
.Settings_div {
  margin-top: 1.4rem;
  margin-left: 1.4rem;
}
.heading_meta {
  width: 9.3rem;
  height: 2.4rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464754;
}
.mid_back_img {
  background: url("images/TreeLogo.png");
  height: 84.7rem;
  width: 84.3rem;
  margin-top: 1.9rem;
  margin-left: 15.1rem;
}
.middle_div {
  position: absolute;
  width: 42rem;
  height: 90.6rem;
  margin-top: 4.1rem;
  margin-left: 20.9rem;
}
.middle_div_top {
  width: 42rem;
  height: 6.4rem;
  display: flex;
  flex-direction: row;
}
.middle_div_top_left {
  width: 14rem;
  height: 6.4rem;
  background: #ffffff;
  border-radius: 1rem 0px 0px 0px;
}
.middle_div_top_mid,
.middle_div_top_right {
  width: 14rem;
  height: 6.4rem;
  background: #faf8f5;
  border-radius: 0px;
}
.swap_head {
  position: absolute;
  width: 4.3rem;
  height: 1.9rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #00783f;
  margin-top: 2.3rem;
  margin-left: 4.8rem;
}
.liquidity_head,
.limit_head {
  position: absolute;
  width: 6.7rem;
  height: 1.9rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #a69f9f;
  margin-top: 2.3rem;
  margin-left: 4.8rem;
}
.middle_div_bottom {
  position: absolute;
  width: 42rem;
  height: 25.3rem;
  background: #ffffff;
  border-radius: 0px 0px 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.middle_div_bottom_top {
  display: flex;
  flex-direction: row;
  margin-left: 3.5rem;
  margin-top: 3rem;
  width: 35rem;
  height: 4.4rem;
  gap: 7.1rem;
}
.form_section {
  width: 3.3rem;
  height: 4.4rem;
}
.form_head {
  margin-top: 1.3rem;
  width: 3.3rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #464754;
}

.input_section,
#img_logos,
#img_logoz {
  width: 24.6rem;
  height: 4.4rem;
  background: #f5f1eb;
  border-radius: 6px;
}
#img_logos {
  background: #f5f1eb url(images/BinanceCoins.png) no-repeat 2rem 1rem;
  padding: 13px 20px 13px 47px;
}
#img_logoz {
  background: #f5f1eb url(images/DODO.png) no-repeat 2rem 1rem;
  padding: 13px 20px 13px 47px;
}
.middle_div_bottom_bottom {
  margin-top: 3rem;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
}
.middle_div_bottom_bottom_top {
  display: flex;
  flex-direction: row;
  gap: 19.4rem;
}
.middle_div_bottom_bottom_bottom,
.middle_div_bottom_bottom_bottomz {
  margin-top: 1rem;
  width: 35rem;
  height: 9.2rem;
  background: #f5f1eb;
  border-radius: 0.6rem;
}
.middle_div_bottom_bottom_bottomz {
  height: 6.4rem;
}
.middle_div_bottom_bottom_bottom_inner {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.leftz {
  display: flex;
  flex-direction: column;
}
.rightz {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.rightz_1 {
  margin-left: 18rem;
}
.stroking {
  margin-left: 16.3rem;
}
.left_1 {
  width: 5.3rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #807373;
}
.right_1 {
  width: 10.3rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: -0.001em;
  color: #a69f9f;
}

#button_11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.2rem 1.6rem;
  gap: 1rem;
  width: 5.9rem;
  height: 2.1rem;
  background: rgba(194, 157, 70, 0.08);
  border-radius: 0.2rem;
  margin-top: 1.2rem;
}
#button_10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.2rem 1.5rem;
  gap: 1rem;
  width: 6rem;
  height: 2.1rem;
  background: rgba(0, 120, 63, 0.08);
  border-radius: 0.2rem;
}
.left_3 {
  width: 2.7rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #c89211;
}
.right_3 {
  width: 3rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #00783f;
  opacity: 0.7;
}
.left_2 {
  width: 6.7rem;
  height: 2.4rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #464754;
}
.right_2,
.right_2s {
  width: 7.1rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #807373;
  margin-top: 1.2rem;
}
.right_2s {
  margin-top: 0.4rem;
}
.switch_div {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin-left: 18rem;
  margin-top: 23.5rem;
  z-index: 1;
}
.middle_div_last {
  position: absolute;
  width: 42rem;
  height: 45.5rem;
  background: #ffffff;
  border-radius: 1rem;
  margin-top: 28.3rem;
}
#button_12 {
  position: absolute;
  width: 42rem;
  height: 6.4rem;
  background: #00783f;
  border-radius: 6px;
  margin-top: 77.8rem;
}
.last_button_heading {
  position: absolute;
  width: 5.3rem;
  height: 2.4rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 2rem;
  margin-left: 18.3rem;
}
.curent_price_div {
  position: absolute;
  margin-top: 49.3rem;
  margin-left: 3.6rem;
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
.current {
  /* position: absolute; */
  width: 10rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.04em;
  color: #807373;
}
.price_div {
  display: flex;
  flex-direction: row;
  width: 18rem;
  height: 1.6rem;
}
.price_head {
  /* position: absolute; */
  width: 16rem;
  height: 1.6rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: right;
  letter-spacing: -0.001em;
  color: #464754;
}
.sync_img {
  margin-left: 2rem;
}

.route_div {
  margin-top: 52.5rem;
  position: absolute;
  margin-left: 3.5rem;
  width: 35rem;
  height: 17.8rem;
  background: #faf8f5;
  border-radius: 0.6rem;
}
.route_top {
  display: flex;
  flex-direction: row;
}
.route_top_left {
  width: 4rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.04em;
  color: #807373;
}
.question_image {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1.2rem;
  margin-top: 0.2rem;
}
.route_mid {
  width: 31rem;
  height: 2rem;
  margin-top: 1rem;
}
.route_bottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 10.5rem;
}
.route_head1 {
  width: 13.5rem;
  height: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.04em;
  color: #807373;
  margin-bottom: 1rem;
}
.route_head2,
.route_head3 {
  width: 8.6rem;
  height: 1.6rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: right;
  letter-spacing: -0.001em;
  color: #464754;
  margin-bottom: 1.1rem;
}
.route_head3 {
  display: flex;
  flex-direction: row;
  margin-left: 3.2rem;
}
.route_mid {
  display: flex;
  flex-direction: row;
  /* gap: */
}
.WBNB_div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.BUSD_div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.DODO_div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.WBNB_head,
.BUSD_head,
.DODO_head {
  /* position: absolute; */
  width: 4.1rem;
  height: 1.6rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: right;
  letter-spacing: -0.001em;
  color: #807373;
}
.horizontal_arrow_img {
  width: 3rem;
  height:0rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  border: 1px dashed rgba(41, 45, 50, 0.5);
  margin-top: 0.8rem;
}
